<div class="nav-container">
  <div class="img-container">
    <img src="images/me.jpg" class="img-responsive img-circle" alt="It's me, Shane Rand.">
  </div>
  <div class="nav-banner">
    <h1>Shane Rand</h1>
  </div>
</div>