<div class="overlay-desktop" data-overlay="discover">
  <div class="close">
    <a href="#" class="close-overlay"><span class="glyphicon glyphicon-remove"></span></a>
  </div>
  <div class="header discover">
    <h1>Discover It&copy; Credit Card Redesign</h1>
  </div>
  <div class="overlay-body col-md-12">
    <div class="col-md-6 overlay-copy">
      <div class="section-header overlay-overview-content"></div>
      <p><h2>Time:</h2></p>
      <p>5 weeks</p>
      <p><h2>Goal:</h2></p>
      <p> Completely overhaul Discover's 4 main credit card pages, which range from a generic Discover it card to more specific Student, Travel, and NHL Cards.</p>
      <p><h2>Details:</h2></p>
      <p>All 4 pages share similar design elements, with a standard marquee + card rotation to kick off the page.</p>
      </p>A large mid-page call out asks the user to compare Discover's cards with other major brands. This crafty module uses css gradients to create a fade out, and the chart is active html. Discover supports IE7, and so images were used in place of the css gradients to achieve a similar effect. A common color theme is present throughout, and rotates along with the marquee. </p>
      <p> 4 grid feature module which further introduces the capabilities of a Discover credit card. These pages were built primarily upon Bootstrap grid layout with some custom functionality here and there.</p>
      <p> These pages are completely responsive, and are 100% ADA compliant for users with disabilities. </p>
      <p> Javascript objects were primarily used to easily control the colors of various sections on each page.</p>
      <p><a href="https://www.discover.com/credit-cards/cash-back/it-card.html">Live Pages here</a>. Disclaimer: Once code is handed off to Discover integration team it is added to, removed from, and changed. I cannot guarantee 100% functionality after delivery.</p>
    </div>
    <div class="col-md-6">
      <img src="images/discover-it-marquee.png" class="img-responsive"/>
      <img src="images/discover-travel-marquee.png" class="img-responsive"/>
      <img src="images/discover-student-marquee.png" class="img-responsive"/>
      <img src="images/discover-it-compare.png" class="img-responsive"/>
      <img src="images/discover-travel-features.png" class="img-responsive"/>
    </div>
  </div>
</div>

<div class="overlay-desktop" data-overlay="tiaa">
  <div class="close">
    <a href="#" class="close-overlay"><span class="glyphicon glyphicon-remove"></span></a>
  </div>
  <div class="header tiaa">
    <h1>TIAA Charitable End of Year Emails</h1>
  </div>
  <div class="overlay-body col-md-12">
    <div class="col-md-6 overlay-copy">
      <div class="section-header overlay-overview-content"></div>
      <p><h2>Time:</h2></p>
      <p>2 weeks</p>
      <p><h2>Goal:</h2></p>
      <p> Create two email layouts to send to prospective donors and current donors.</p>
      <p><h2>Details:</h2></p>
      <p>Each email shares a similar layout. Copy is relevant to the target audience.</p>
      </p>A streaking vertical line guides the recipient along, making sure to "stop" at each item in the email.</p>
      <p>This project enjoys bold colors that are shared with TIAA Charitable's site.</p>
      <p> Both emails are 100% responsive, as much as Emails can be, and were tested with Litmus. Almost every email client that is available in Litmus for testing displays correctly.</p>
      <p><a href="deadline-customer-email.html">Live donor example here</a><p>
      <p><a href="deadline-prospect-email.html">Live prospect example here</a><p>
    </div>
    <div class="col-md-6">
      <img src="images/tiaa-donor-email.png" class="img-responsive"/>
      <img src="images/tiaa-donor-email-mid.png" class="img-responsive"/>
    </div>
  </div>
</div>

<div class="overlay-desktop" data-overlay="js-plugins">
  <div class="close">
    <a href="#" class="close-overlay"><span class="glyphicon glyphicon-remove"></span></a>
  </div>
  <div class="header js-plugins">
    <h1>MCD ADA Validation Plugin</h1>
  </div>
  <div class="overlay-body col-md-12">
    <div class="col-md-6 overlay-copy">
      <div class="section-header overlay-overview-content"></div>
      <p><h2>Time:</h2></p>
      <p>Ongoing throughout time with MCD</p>
      <p><h2>Goal:</h2></p>
      <p> Contribute to an internally written plugin for all projects that need accessible form validation.</p>
      <p><h2>Details:</h2></p>
      <p>This plugin has several ways to customize validations for form fields. It is 100% ADA compliant.</p>
      <p><a href="https://github.com/mcdpartners/ada-validation">Github page here</a><p>

    </div>
    <div class="col-md-6">
      <img src="images/validation-screenshot.png" class="img-responsive" style="width:100%;"/>
    </div>
  </div>
</div>