<div class="overlay-desktop">
  <div class="header">
    <h1>Discover Credit Card Redesign</h1>
  </div>
  <div class="overlay-body">
    <div class="col-md-6 overlay-copy">
      <div class="section-header overlay-overview-content"></div>
      <p>The goal of this project for Discover was to completely overhaul its 4 main credit card pages, which range from a generic Discover it card to more specific Student, Travel, and NHL Cards.</p>
      <p>All 4 pages share similar design elements, with a standard marquee + card rotation to kick off the page.</p>
      </p>After some in depth information, a large mid-page call out asks the user to compare Discover's cards with other major brands. This crafty module uses css gradients to create a fade out, and the chart is active html. Discover supports IE7, and so images were used in place of the css gradients to achieve a similar effect. </p>
      <p> These pages are completely responsive, and are 100% ADA compliant for users with disabilities. </p>
    </div>
    <div class="col-md-6">
      <img src="images/discover-it-marquee.png" class="img-responsive"/>
      <img src="images/discover-travel-marquee.png" class="img-responsive"/>
      <img src="images/discover-student-marquee.png" class="img-responsive"/>
    </div>
     <div class="col-md-6 overlay-copy">
      <div class="section-header overlay-details-content"></div>
      <p>The goal of this project for Discover was to completely overhaul its 4 main credit card pages, which range from a generic Discover it card to more specific Student, Travel, and NHL Cards.</p>
      <p>All 4 pages share similar design elements, with a standard marquee + card rotation to kick off the page.</p>
      </p>After some in depth information, a large mid-page call out asks the user to compare Discover's cards with other major brands. This crafty module uses css gradients to create a fade out, and the chart is active html. Discover supports IE7, and so images were used in place of the css gradients to achieve a similar effect. </p>
      <p> These pages are completely responsive, and are 100% ADA compliant for users with disabilities. </p>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>