.spotlight {

  margin-bottom: 60px;

  .spotlight-img {
    margin-top: 20px;

  }

  .spotlight-button-container {
    text-align: center;
    margin-top: 30px;
  }

  .spotlight-button {
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-style: italic;
    background: #444349;
    border: none;
    border-bottom: 5px solid lighten(#444349, 30%);

    &:hover {
      margin-top: 5px;
      border: none;
    }
  }

  .spotlight-copy {
    //background: #444349;
    //height: 250px;
    &.discover {
      background: #FF7800;
    }
    &.tiaa {
      background: #82C341;
    }
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

  }

  a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 28px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.about {
  margin-bottom: 60px;

  .link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.discover {
      color: #FF7800;
      &:hover {
        color: lighten(#FF7800, 20%);
      }
    }

    &.sling {
      color: #13ABDF;
      &:hover {
        color: lighten(#13ABDF, 20%);
      }
    }

    &.tiaa {
      color: #82C341;
      &:hover {
        color: lighten(#82C341, 20%);
      }
    }

    &.mcd {
      color: #D4C029;
      &:hover {
        color: lighten(#D4C029, 20%);
      }
    }
  }

  .about-copy {
    padding: 20px;
    font-size: 16px;
    //background: #f7f7f7;
  }

  .about-img {
    //padding: 0;
  }
}

.contact {
  .contact-copy {
    padding: 20px;
    font-size: 16px;
    //background: #f7f7f7;
  }

  .info-line {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    .info {
      display: block;
      white-space: normal;
    }
  }

}

.section-header {
  position: relative;
  border-top: 1px solid #dbdbdb;
  height: 40px;
  &:after {
    position: absolute;
    top: -24px;
    left: 0;
    right: 0;
    font-size: 30px;
    background: #fff;
  }

  &.spotlight-content:after {
    content: "Portfolio Spotlight";
    width: 270px;
  }

  &.about-content:after {
    content: "About Me";
    width: 150px;
  }

  &.contact-content:after {
    content: "Contact";
    width: 120px;
  }

  &.overlay-overview-content:after {
    content: "Project Overview";
    width: 260px;
  }

  &.overlay-details-content:after {
    content: "Project Details";
    width: 250px;
  }


}

@media(min-width: 1200px) {

  .spotlight {
    .spotlight-copy {
      padding-top: 50px;
      padding-bottom: 50px;

      a {
        font-size: 36px;
      }
    }
  }

}

@media(min-width: 992px) {
  .spotlight {
    .spotlight-img {
      margin-top: 0;
    }

    .spotlight-copy {
      text-align: left;
    }
  }

  .contact {
    .info-line {
      text-align: left;
      .info {
        display: inline;
        margin-left: 10px;
      }
    }
  }
}