body {
  //background: #eee;
  position: relative;
  background: #fff;
  font-family: 'Droid Serif', serif;
  color: #444349;
}

.overlay-desktop-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.overlay-desktop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  z-index: 11;
  overflow-y: scroll;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
  }

  .header {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    &.discover {
      background: #FF7800;
    }

    &.tiaa {
      background: #82C341;
    }
    &.js-plugins {
      background: #5BBCD0;
    }
    color: #fff;
  }

  .overlay-body {
    padding-top: 50px;
    padding-bottom: 50px;

    img {
      margin-bottom: 20px;
    }
  }

  .overlay-copy {
    font-size: 16px;
  }
}

@media(max-width: 992px) {
  .overlay-desktop {
    width: 100%;
  }
}

.no-scroll {
  overflow: hidden;
}

h1, h2 {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-style: italic;
}

a {
  color: #444349;
  text-decoration: underline;
  &:hover {
    color: lighten(#444349, 20%);
    text-decoration: underline;
  }
}

span {
  white-space: nowrap;
}