.nav-container-desktop {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  display: none;

  .img-container {
    display: inline-block;
    width: 150px;
    z-index: 1;
  }

  .nav-banner {
    position: absolute;
    top: 85px;
    left: 135px;
    background: #fff;
    padding-top: 25px;
    padding-left: 35px;
    padding-bottom: 25px;
    padding-right: 40px;
    z-index: -1;
    -webkit-box-shadow: 0px 22px 0px -16px rgba(212,212,212,1);
    -moz-box-shadow: 0px 22px 0px -16px rgba(212,212,212,1);
    box-shadow: 0px 22px 0px -16px rgba(212,212,212,1);
    border: 1px solid #dbdbdb;
  }

}

.nav-container-mobile {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  height: 200px;

  .img-container {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 125px;
    z-index: 1;
  }

  .nav-banner {
    position: absolute;
    margin: auto;
    top: 105px; left: 0; bottom: 0; right: 0;
    height: 100px;
    width: 100%;
    background: #fff;
    padding-top: 25px;
    padding-left: 35px;
    padding-bottom: 25px;
    padding-right: 35px;
    z-index: -1;
    text-align: center;
    -webkit-box-shadow: 0px 22px 0px -16px rgba(212,212,212,1);
    -moz-box-shadow: 0px 22px 0px -16px rgba(212,212,212,1);
    box-shadow: 0px 22px 0px -16px rgba(212,212,212,1);
  }

}

@media(min-width: 768px) {
  .nav-container-desktop {
    display: block;
  }
  .nav-container-mobile {
    display: none;
  }
}