---
layout: default.hbs
---
{{>navigation}}


<div class="main">

    <div class="col-md-3 square home-bg" data-section="home">
      <h1>Home</h1>
    </div>
    <div class="col-md-3 square work-bg" data-section="work">
      <h1>My Work</h1>
    </div>
    <div class="col-md-3 square about-bg" data-section="about">
      <h1>About Me</h1>
    </div>
    <div class="col-md-3 square contact-bg" data-section="contact">
      <h1>Contact</h1>
    </div>

    <div class="col-md-12">
      <div class="content home-border show" data-section="home">
        <div class="copy">
          <p>Hey there! Welcome to my personal site. Here, you'll find some information on my personal and professional life, as well as the work I've done for both clients and myself. Right now, I am currently seeking employment in Front End Web Development after a successful year with <a href="http://www.mcdpartners.com">MCD Partners</a>. Open up the menu in the upper left and explore.</p>
          <p>
            Thanks,
            </br>
            Shane.
          </p>
        </div>
      </div>
      <div class="content work-border" data-section="work">
        <div class="copy">
          <p>work</p>
          <p>
            Thanks,
            </br>
            Shane.
          </p>
        </div>
      </div>
      <div class="content about-border" data-section="about">
        <div class="copy">
          <p>about</p>
          <p>
            Thanks,
            </br>
            Shane.
          </p>
        </div>
      </div>
      <div class="content contact-border" data-section="contact">
        <div class="copy">
          <p>contact</p>
          <p>
            Thanks,
            </br>
            Shane.
          </p>
        </div>
      </div>
    </div>

</div>