---
layout: default.hbs
---
{{>navigation}}


<div class="main">
  <div class="content-header">
    <h1>Welcome</h1>
  </div>

  <div class="content">
    <p>Hey there! Welcome to my personal site. Here, you'll find some information on my personal and professional life, as well as the work I've done for both clients and myself. Right now, I am currently seeking employment in Front End Web Development after a successful year with <a href="http://www.mcdpartners.com">MCD Partners</a>. Open up the menu in the upper left and explore.</p>
    <p>
      Thanks,
      </br>
      Shane.
    </p>
  </div>

</div>