/* line 1, ../../src/assets/scss/_nav.scss */
.nav-container-desktop {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  display: none;
}
/* line 7, ../../src/assets/scss/_nav.scss */
.nav-container-desktop .img-container {
  display: inline-block;
  width: 150px;
  z-index: 1;
}
/* line 13, ../../src/assets/scss/_nav.scss */
.nav-container-desktop .nav-banner {
  position: absolute;
  top: 85px;
  left: 135px;
  background: #fff;
  padding-top: 25px;
  padding-left: 35px;
  padding-bottom: 25px;
  padding-right: 40px;
  z-index: -1;
  -webkit-box-shadow: 0px 22px 0px -16px #d4d4d4;
  -moz-box-shadow: 0px 22px 0px -16px #d4d4d4;
  box-shadow: 0px 22px 0px -16px #d4d4d4;
  border: 1px solid #dbdbdb;
}

/* line 31, ../../src/assets/scss/_nav.scss */
.nav-container-mobile {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  height: 200px;
}
/* line 39, ../../src/assets/scss/_nav.scss */
.nav-container-mobile .img-container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 125px;
  z-index: 1;
}
/* line 47, ../../src/assets/scss/_nav.scss */
.nav-container-mobile .nav-banner {
  position: absolute;
  margin: auto;
  top: 105px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: #fff;
  padding-top: 25px;
  padding-left: 35px;
  padding-bottom: 25px;
  padding-right: 35px;
  z-index: -1;
  text-align: center;
  -webkit-box-shadow: 0px 22px 0px -16px #d4d4d4;
  -moz-box-shadow: 0px 22px 0px -16px #d4d4d4;
  box-shadow: 0px 22px 0px -16px #d4d4d4;
}

@media (min-width: 768px) {
  /* line 68, ../../src/assets/scss/_nav.scss */
  .nav-container-desktop {
    display: block;
  }

  /* line 71, ../../src/assets/scss/_nav.scss */
  .nav-container-mobile {
    display: none;
  }
}
/* line 1, ../../src/assets/scss/_layout.scss */
body {
  background: #fff;
  font-family: 'Droid Serif', serif;
  color: #444349;
}

/* line 8, ../../src/assets/scss/_layout.scss */
h1, h2 {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* line 15, ../../src/assets/scss/_layout.scss */
a {
  color: #ff6000;
  text-decoration: none;
}
/* line 18, ../../src/assets/scss/_layout.scss */
a:hover {
  color: #444349;
  text-decoration: underline;
}

/* line 25, ../../src/assets/scss/_layout.scss */
.main {
  background-color: #fff;
}
/* line 28, ../../src/assets/scss/_layout.scss */
.main .content-header {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../images/Stardust.png") 0 0 repeat-x;
  text-align: center;
}
/* line 33, ../../src/assets/scss/_layout.scss */
.main .content-header h1 {
  font-size: 48px;
  text-decoration: underline;
  color: #fff;
}
/* line 40, ../../src/assets/scss/_layout.scss */
.main .content {
  font-size: 18px;
  background: #fff;
  margin-top: 50px;
  position: relative;
}
/* line 47, ../../src/assets/scss/_layout.scss */
.main .home-border {
  border-top: 7px solid #4000ff;
  display: none;
}
/* line 52, ../../src/assets/scss/_layout.scss */
.main .home-border:after, .main .home-border:before {
  bottom: 100%;
  left: 12%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 63, ../../src/assets/scss/_layout.scss */
.main .home-border:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 25px;
  margin-left: -25px;
}
/* line 69, ../../src/assets/scss/_layout.scss */
.main .home-border:before {
  border-color: rgba(64, 0, 255, 0);
  border-bottom-color: #4000ff;
  border-width: 31px;
  margin-left: -31px;
}
/* line 76, ../../src/assets/scss/_layout.scss */
.main .work-border {
  border-top: 7px solid #CF2D56;
  display: none;
}
/* line 81, ../../src/assets/scss/_layout.scss */
.main .work-border:after, .main .work-border:before {
  bottom: 100%;
  left: 37%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 92, ../../src/assets/scss/_layout.scss */
.main .work-border:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 25px;
  margin-left: -25px;
}
/* line 98, ../../src/assets/scss/_layout.scss */
.main .work-border:before {
  border-color: rgba(64, 0, 255, 0);
  border-bottom-color: #CF2D56;
  border-width: 31px;
  margin-left: -31px;
}
/* line 105, ../../src/assets/scss/_layout.scss */
.main .about-border {
  border-top: 7px solid #FFEE46;
  display: none;
}
/* line 110, ../../src/assets/scss/_layout.scss */
.main .about-border:after, .main .about-border:before {
  bottom: 100%;
  left: 63%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 121, ../../src/assets/scss/_layout.scss */
.main .about-border:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 25px;
  margin-left: -25px;
}
/* line 127, ../../src/assets/scss/_layout.scss */
.main .about-border:before {
  border-color: rgba(64, 0, 255, 0);
  border-bottom-color: #FFEE46;
  border-width: 31px;
  margin-left: -31px;
}
/* line 134, ../../src/assets/scss/_layout.scss */
.main .contact-border {
  border-top: 7px solid #09BD56;
  display: none;
}
/* line 139, ../../src/assets/scss/_layout.scss */
.main .contact-border:after, .main .contact-border:before {
  bottom: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 150, ../../src/assets/scss/_layout.scss */
.main .contact-border:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 25px;
  margin-left: -25px;
}
/* line 156, ../../src/assets/scss/_layout.scss */
.main .contact-border:before {
  border-color: rgba(64, 0, 255, 0);
  border-bottom-color: #09BD56;
  border-width: 31px;
  margin-left: -31px;
}
/* line 163, ../../src/assets/scss/_layout.scss */
.main .copy {
  padding: 50px;
}

/* line 1, ../../src/assets/scss/_cover.scss */
.square {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
/* line 7, ../../src/assets/scss/_cover.scss */
.square:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 22px 0px -16px #d4d4d4;
  -moz-box-shadow: 0px 22px 0px -16px #d4d4d4;
  box-shadow: 0px 22px 0px -16px #d4d4d4;
}
/* line 14, ../../src/assets/scss/_cover.scss */
.square h1 {
  text-align: center;
}

/* line 19, ../../src/assets/scss/_cover.scss */
.home-bg {
  background: #4000FF;
}

/* line 23, ../../src/assets/scss/_cover.scss */
.work-bg {
  background: #CF2D56;
}

/* line 27, ../../src/assets/scss/_cover.scss */
.about-bg {
  background: #FFEE46;
}

/* line 31, ../../src/assets/scss/_cover.scss */
.contact-bg {
  background: #09BD56;
}

/* line 1, ../../src/assets/scss/_carousel.scss */
.spotlight {
  margin-bottom: 60px;
}
/* line 5, ../../src/assets/scss/_carousel.scss */
.spotlight .spotlight-img {
  padding: 0;
}
/* line 10, ../../src/assets/scss/_carousel.scss */
.spotlight .spotlight-copy {
  height: 250px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 13, ../../src/assets/scss/_carousel.scss */
.spotlight .spotlight-copy.discover {
  background: #FF7800;
}
/* line 16, ../../src/assets/scss/_carousel.scss */
.spotlight .spotlight-copy.tiaa {
  background: #82C341;
}
/* line 25, ../../src/assets/scss/_carousel.scss */
.spotlight a {
  color: #fff;
  text-decoration: none;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
}
/* line 34, ../../src/assets/scss/_carousel.scss */
.spotlight a:hover {
  text-decoration: underline;
}

/* line 42, ../../src/assets/scss/_carousel.scss */
.about .link {
  text-decoration: none;
}
/* line 45, ../../src/assets/scss/_carousel.scss */
.about .link:hover {
  text-decoration: underline;
}
/* line 49, ../../src/assets/scss/_carousel.scss */
.about .link.discover {
  color: #FF7800;
}
/* line 51, ../../src/assets/scss/_carousel.scss */
.about .link.discover:hover {
  color: #ffae66;
}
/* line 56, ../../src/assets/scss/_carousel.scss */
.about .link.sling {
  color: #13ABDF;
}
/* line 58, ../../src/assets/scss/_carousel.scss */
.about .link.sling:hover {
  color: #66cef2;
}
/* line 63, ../../src/assets/scss/_carousel.scss */
.about .link.tiaa {
  color: #82C341;
}
/* line 65, ../../src/assets/scss/_carousel.scss */
.about .link.tiaa:hover {
  color: #b5db8f;
}
/* line 70, ../../src/assets/scss/_carousel.scss */
.about .link.mcd {
  color: #D4C029;
}
/* line 72, ../../src/assets/scss/_carousel.scss */
.about .link.mcd:hover {
  color: #e6da7d;
}
/* line 78, ../../src/assets/scss/_carousel.scss */
.about .about-copy {
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  padding: 20px;
  font-size: 16px;
}

/* line 92, ../../src/assets/scss/_carousel.scss */
.section-header {
  position: relative;
  border-top: 1px solid #dbdbdb;
  height: 40px;
}
/* line 96, ../../src/assets/scss/_carousel.scss */
.section-header:after {
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  font-size: 30px;
  background: #fff;
}
/* line 105, ../../src/assets/scss/_carousel.scss */
.section-header.spotlight-content:after {
  content: "Portfolio Spotlight";
  width: 270px;
}
/* line 110, ../../src/assets/scss/_carousel.scss */
.section-header.about-content:after {
  content: "About Me";
  width: 150px;
}

@media (min-width: 1200px) {
  /* line 119, ../../src/assets/scss/_carousel.scss */
  .spotlight .spotlight-copy {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* line 123, ../../src/assets/scss/_carousel.scss */
  .spotlight .spotlight-copy a {
    font-size: 36px;
  }
}
